<table class="table table-hover">
    <tr class="active">
        <th class="text-left">Pos</th>
        <th>Evidence</th>
        <th>Rule</th>
    </tr>

    {{~#each files~}}
        <tr>
            <td colspan="3">
                <b>{{path}}</b>
            </td>
        </tr>

        {{~#each messages~}}
            {{~#row this~}}
                <td class="text-left">
                    {{#if line}}
                        {{line}}:{{column}}
                    {{/if}}
                </td>
                <td>
                    <code>{{evidence}}</code>
                </td>
                <td>{{rule}}</td>
            {{~/row~}}
        {{~/each~}}
    {{~/each~}}
</table>
